<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITicketAPI">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://customdev.journaltech.com/api/soap/TicketAPI.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketAPI"
                contract="TicketAPI.ITicketAPI" name="BasicHttpBinding_ITicketAPI" />
        </client>
    </system.serviceModel>
</configuration>